@(path: String, folders: List[Folder], medias: List[Media], ID: Long)
@main {

    <h1>
        <p>
        @path <br>
            @for(f <- folders) {
                @f.toAlternateString() <br>
            }
        @for(m <- medias) {
            @m.toAlternateString() <br>
        }
        </p>
    </h1>

    <div>
        <a class="btn success" href="@routes.Application.index()">index</a>
        <a class="btn success" href="@routes.Application.createMedia(ID)">createMedia</a>
        <a class="btn success" href="@routes.Application.createFolder(ID)">createFolder</a>
    </div>

}